:root {
 --greenadd: #02243A;
 --greenclaro: #054B78;
 --resumecolor: #032A43;
 --letraSecciones: #1881C5;

 --tamañologo: 30px;
}

* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}
body{
    height: 100%;
}
html {
    height: 100%;
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}
header{
    position: relative;
    width: 100%;
    text-align:center;
    background-image: url("./assets/code.png") ;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue; 
}
header h1 {
    font-size:4rem;
}
header p {
    margin-top: 200px;
    font-weight: 500;
    line-height: 5.8rem;
    font-size:1.5rem
}
header a {
    margin-top: 50px;
    text-decoration: none;
    font-size: 2rem;
    color: aliceblue;
}
header img {
    width: 250px;
    height:  250px;
    margin-top: 60px;
    align-self: center;
}
.header--title-container{
    width: 90%;
    height: 200px;
    margin-top: 150px;
    text-align: center;
    align-self: center;
}
.header--title-container p{
    margin-top: 20px;
    font-weight: 500;
}
.header--title-container .header--button{
    position: absolute;
}
.resumen-detail {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px 10px;
    background-color: var(--resumecolor);
    color: aliceblue;
}
.resumen-detail-title {
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.resumen-detail-title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: aliceblue;
}
.resumen-detail-title p{
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
    font-size: 1.4rem;
}
.resumen-detail-title a{
    font-size: 2.0rem;
    text-decoration: none;
}
.main-details-perfil{
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px 10px;
    background-color: var(--greenadd);
    color: var(--letraSecciones);
}
.main-details-perfil-title {
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.main-details-perfil h2 {
    font-size: 2rem;
}
.main-details-perfil p {
    margin-top: 5px;
    font-size: 1.5rem;
    
}
.proyect-cards-container {
    
}
.proyect-detail-card{
    width: 90%;
    height: auto;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--greenclaro);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    color: #0C1C26;
}
.proyect-detail-card-description {
    width: 80%;
    margin: 10px 45px;
    font-weight: bold;
}
.proyect-detail-card-description .proyect-card-title {
    margin-bottom: 15px;
    display: inline-flex;
    
}
.proyect-card-title p {
    margin-left: 20px;
    font-size: 1.7rem;
    margin-top: 10px;
    font-weight: bold;
}
.proyect-detail-card-description .proyect-card-body {
    font-size: 1.5rem;
    font-weight: 535;
    line-height: 1.8rem;
    margin-bottom: 1rem;
}
.proyect-detail-card-description a {
    font-size: 1.5rem;
    line-height: 2rem;
    text-decoration: none;
}
.proyect-detail-card img{
    /* width: auto;
    height: 70px;
    position: absolute;
    left: calc(70% - 50px);
    margin: -60px 0px;
    padding: 0; */
    width: auto;
    height: 90px;
    margin-top: 30px;
    margin-right: 30px;
    
}   
.proyect-detail-card .pc {
  display: inline-block;
  width: var(--tamañologo);
  height: var(--tamañologo);
  margin: 0 auto;
  margin-bottom: 10px;
  background-image: url("./assets/1458264592_laptop_computer_pc_device_notebook_netbook_internet_icon-icons.com_55334.png");    
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.proyect-detail-card .fruit {
    display: inline-block;
    width: var(--tamañologo);
    height: var(--tamañologo);
    margin: 0 auto;
    margin-bottom: 10px;
    background-image: url("./assets/32344tangerine_98931.png");    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
.proyect-detail-card .aseo {
    display: inline-block;
    width: var(--tamañologo);
    height: var(--tamañologo);
    margin: 0 auto;
    margin-bottom: 10px;
    background-image: url("./assets/soap_washing_clean_cleaning_icon_140095.png");    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
.proyect-detail-card .ram {
    display: inline-block;
    width: var(--tamañologo);
    height: var(--tamañologo);
    margin: 0 auto;
    margin-bottom: 10px;
    background-image: url("./assets/triangle_container_empty_wrapper_icon_145921.png");    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: #02243A;
    box-shadow: 1px -10px 40px blanchedalmond, inset 10px 2px 10px 10px rgba(0, 0, 0, 0.16) ;
}
footer section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
.left li {
    margin: 10px 0;
}
.left a {
    text-decoration: none;
    color: aliceblue;
}
.right img {
    width: 120px;
}
