:root {

}

* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}
body{
    height: 100%;
}
html {
    height: 100%;
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}
header{
    position: relative;
    width: 100%;
    text-align:center;
    background-image: url("./assets/code.png") ;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    font-size: 3rem; 
}
header img {
    width: 152px;
    height:  160px;
    margin-top: 60px;
    align-self: center;
}
.header--title-container{
    width: 90%;
    height: 200px;
    margin-top: 150px;
    text-align: center;
    align-self: center;
}
.header--title-container p{
    margin-top: 20px;
    font-weight: 500;
}
.header--title-container .header--button{
    position: absolute;
}
.resumen-detail {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px 10px;
    background-color: black;
    color: aliceblue;
}
.resumen-detail-title {
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}
.resumen-detail-title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: aliceblue;
}
.resumen-detail-title p{
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
    font-size: 1.4rem;
}
.resumen-detail-title a{
    font-size: 2.0rem;
    text-decoration: none;
}
.main-details-perfil{
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px 10px;
    background-color: aquamarine;
    color: black;
}
.main-details-perfil-title {
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.proyect-detail-card{
    width: 90%;
    height: 182px;
    margin: 15px auto;
    padding: 15px;
    background-color: antiquewhite;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    
}
.proyect-detail-card img{
    width: auto;
    height: 70px;
    position: absolute;
    left: calc(70% - 50px);
    margin: -60px 0px;
    padding: 0;
    
}
.proyect-detail-card .pc {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-image: url("./assets/1458264592_laptop_computer_pc_device_notebook_netbook_internet_icon-icons.com_55334.png");    
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.proyect-detail-card .fruit {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-image: url("./assets/32344tangerine_98931.png");    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
.proyect-detail-card .aseo {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-image: url("./assets/soap_washing_clean_cleaning_icon_140095.png");    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
.proyect-detail-card .ram {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-image: url("./assets/triangle_container_empty_wrapper_icon_145921.png");    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
.proyect-card-title {
    margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
}
.proyect-card-body{
    font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
}
